<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>活点地图</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="活点地图 - 实时显示附近的资源">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" />
</head>

<body>
    <div class="mdui-container mdui-typo">
        <h1 class="mdui-typo-display2">登录</h1>
        <form action="/login" method="POST">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">电子邮箱</label>
                <input class="mdui-textfield-input" type="email" />
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" />
            </div>
            <button class="mdui-btn mdui-btn-raied"></button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"></script>
    <script>

    </script>
</body>